<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importations" data-toc-modified-id="Importations-1">Importations</a></span></li><li><span><a href="#Ajout-de-colonnes-depuis-'date'" data-toc-modified-id="Ajout-de-colonnes-depuis-'date'-2">Ajout de colonnes depuis 'date'</a></span></li><li><span><a href="#Ajout-des-coordonnées" data-toc-modified-id="Ajout-des-coordonnées-3">Ajout des coordonnées</a></span></li><li><span><a href="#Regroupement-des-données" data-toc-modified-id="Regroupement-des-données-4">Regroupement des données</a></span></li><li><span><a href="#Modèle" data-toc-modified-id="Modèle-5">Modèle</a></span></li></ul></div>

In [13]:
import numpy.linalg as npl
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error as mape

from xgboost import XGBRegressor

# Importations

In [104]:
train = pd.read_csv("Train/Train/X_station_train.csv")
y_train = pd.read_csv("Train/Train/Y_train.csv")
coords = pd.read_csv("Other/Other/stations_coordinates.csv")

# Ajout de colonnes depuis 'date'

In [105]:
train["month"] = train["date"].replace(to_replace="^.{5}", value="", regex=True)\
                              .replace(to_replace=".{12}$", value="", regex=True)

train["day"] = train["date"].replace(to_replace="^.{8}", value="", regex=True)\
                            .replace(to_replace=".{9}$", value="", regex=True)

train["hour"] = train["date"].replace(to_replace="^.{11}", value="", regex=True)\
                             .replace(to_replace=".{6}$", value="", regex=True)

In [106]:
del train["date"]

In [107]:
train = train.astype({"month": "int8", "day": "int8", "hour": "int8"})

# Ajout des coordonnées

In [108]:
train = train.merge(coords, how="left", on="number_sta")

In [109]:
train = train.astype({"Id": str, 
                      "number_sta": "category", 
                      "month": "category", 
                      "day": "category", 
                      "hour": "category"})

# Regroupement des données

In [110]:
train["Id"].replace(to_replace=".\d+$", value="", regex=True, inplace=True)

In [111]:
train

,number_sta,ff,t,td,hu,dd,precip,Id,month,day,hour,lat,lon,height_sta
0,14066001,3.05,279.28,277.97,91.4,200.0,0.0,14066001_0,1,1,0,49.334,-0.431,2.0
1,14066001,2.57,278.76,277.45,91.4,190.0,0.0,14066001_0,1,1,1,49.334,-0.431,2.0
2,14066001,2.26,278.27,277.02,91.7,181.0,0.0,14066001_0,1,1,2,49.334,-0.431,2.0
3,14066001,2.62,277.98,276.95,93.0,159.0,0.0,14066001_0,1,1,3,49.334,-0.431,2.0
4,14066001,2.99,277.32,276.72,95.9,171.0,0.0,14066001_0,1,1,4,49.334,-0.431,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4409469,95690001,9.10,286.68,283.44,80.8,239.0,0.0,95690001_729,12,30,19,49.108,1.831,126.0
4409470,95690001,8.58,286.39,283.21,81.1,231.0,0.0,95690001_729,12,30,20,49.108,1.831,126.0
4409471,95690001,8.74,286.28,283.40,82.6,226.0,0.0,95690001_729,12,30,21,49.108,1.831,126.0
4409472,95690001,9.04,286.21,283.29,82.4,224.0,0.0,95690001_729,12,30,22,49.108,1.831,126.0
4409473,95690001,9.11,285.92,282.42,79.4,221.0,0.0,95690001_729,12,30,23,49.108,1.831,126.0

In [112]:
train = train.groupby("Id", as_index=False).agg({
    "number_sta": "first",
    "ff": "median",
    "t": "median",
    "td": "median",
    "hu": "median",
    "dd": "median",
    "precip": "sum",
    "month": "first",
    "day": "first",
    "hour": "first",
    "lat": "first",
    "lon": "first",
    "height_sta": "first"
})

In [119]:
y_train = y_train.sort_values("Id")

In [120]:
train = train.sort_values("Id")

In [121]:
train

,Id,number_sta,ff,t,td,hu,dd,precip,month,day,hour,lat,lon,height_sta
0,14066001_0,14066001,3.695,281.325,278.625,90.15,142.0,0.2,1,1,0,49.334,-0.431,2.0
1,14066001_1,14066001,7.690,282.870,280.045,83.60,207.0,3.4,1,2,0,49.334,-0.431,2.0
2,14066001_10,14066001,5.340,279.520,277.385,86.90,226.5,6.0,1,11,0,49.334,-0.431,2.0
3,14066001_100,14066001,4.435,283.950,278.005,80.95,133.0,11.6,4,10,0,49.334,-0.431,2.0
4,14066001_101,14066001,1.790,282.720,281.360,89.55,171.5,5.6,4,11,0,49.334,-0.431,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183742,95690001_725,95690001,7.310,279.005,276.850,85.00,202.0,2.4,12,26,0,49.108,1.831,126.0
183743,95690001_726,95690001,8.285,277.110,274.885,88.75,276.5,3.2,12,27,0,49.108,1.831,126.0
183744,95690001_727,95690001,2.875,274.495,273.055,88.70,250.5,0.0,12,28,0,49.108,1.831,126.0
183745,95690001_728,95690001,6.545,278.760,275.480,91.95,210.0,4.4,12,29,0,49.108,1.831,126.0
183746,95690001_729,95690001,8.840,286.335,283.645,89.80,235.0,5.4,12,30,0,49.108,1.831,126.0

In [122]:
y_train

              date  number_sta  Ground_truth            Id
0       2016-01-02    14066001           3.4    14066001_0
249     2016-01-03    14066001          11.7    14066001_1
2491    2016-01-12    14066001           1.0   14066001_10
24978   2016-04-11    14066001           5.6  14066001_100
25228   2016-04-12    14066001           3.2  14066001_101
...            ...         ...           ...           ...
182747  2017-12-27    95690001           3.2  95690001_725
182997  2017-12-28    95690001           0.0  95690001_726
183247  2017-12-29    95690001           4.4  95690001_727
183497  2017-12-30    95690001           5.4  95690001_728
183746  2017-12-31    95690001           1.2  95690001_729

[183747 rows x 4 columns]

# Modèle

In [129]:
X = train.drop("Id", axis=1)
y = y_train["Ground_truth"]

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=42)

In [132]:
my_xgbr = XGBRegressor()

In [135]:
my_xgbr.fit(X_train, y_train)

ValueError: DataFrame.dtypes for data must be int, float, bool or category.  When
                categorical type is supplied, DMatrix parameter `enable_categorical` must
                be set to `True`.number_sta, month, day, hour